.soal li {
  list-style-type: none;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-thumbnail {
  height: 255px;
}

.product-image {
  width: 255px;
  hight: 255px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

